body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    position:relative;
}

.head {
    background:white;
    text-align: center;
}

.navbar-brand, .nav-link, .dropdown-item {
    font-family: 'Monda', sans-serif;
}

.head h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
}

.head h2 {
    font-family: 'Cantarell', sans-serif;
    color:rgb(110, 109, 109);
}

.container h2 {
    font-family: 'Cantarell', sans-serif;
    text-align:center;
    margin-bottom:50px;
}

.container h3 {
    font-family: 'Cantarell', sans-serif;
    margin: 1% auto;
}

#contactForm {
    background: linear-gradient(to right, #606c88, #3f4c6b);
    padding: 10px;
    border-radius: 5px;
}

#contactForm button {
    margin-top: 1%;
}

footer { 
    font-family: 'Cantarell', sans-serif;
    width:100%;
    background-color:white;
    padding-bottom: 5px;
    bottom:0;
    position:fixed;
}